.eq_pot01 { background-image: url('../img/eq_pot01.png'); }
.eq_pot02 { background-image: url('../img/eq_pot02.png'); }
.eq_pot03 { background-image: url('../img/eq_pot03.png'); }
.eq_pot04 { background-image: url('../img/eq_pot04.png'); }
.eq_pot05 { background-image: url('../img/eq_pot05.png'); }
.eq_pot06 { background-image: url('../img/eq_pot06.png'); }
.eq_pot07 { background-image: url('../img/eq_pot07.png'); }
.eq_pot08 { background-image: url('../img/eq_pot08.png'); }
.eq_pot09 { background-image: url('../img/eq_pot09.png'); }
.eq_pot10 { background-image: url('../img/eq_pot10.png'); }
.eq_pot11 { background-image: url('../img/eq_pot11.png'); }
.eq_pot12 { background-image: url('../img/eq_pot12.png'); }
.eq_pot13 { background-image: url('../img/eq_pot13.png'); }
.eq_pot14 { background-image: url('../img/eq_pot14.png'); }
.eq_pot15 { background-image: url('../img/eq_pot15.png'); }
.eq_pot16 { background-image: url('../img/eq_pot16.png'); }
.eq_pot17 { background-image: url('../img/eq_pot17.png'); }
.eq_pot18 { background-image: url('../img/eq_pot18.png'); }
.eq_pot19 { background-image: url('../img/eq_pot19.png'); }
.eq_pot20 { background-image: url('../img/eq_pot20.png'); }
.eq_pot21 { background-image: url('../img/eq_pot21.png'); }
.eq_pot22 { background-image: url('../img/eq_pot22.png'); }
.eq_pot23 { background-image: url('../img/eq_pot23.png'); }
.eq_pot24 { background-image: url('../img/eq_pot24.png'); }
.eq_pot25 { background-image: url('../img/eq_pot25.png'); }
.eq_pot26 { background-image: url('../img/eq_pot26.png'); }
.eq_pot27 { background-image: url('../img/eq_pot27.png'); }
.eq_pot28 { background-image: url('../img/eq_pot28.png'); }
.eq_pot29 { background-image: url('../img/eq_pot29.png'); }
.eq_pot30 { background-image: url('../img/eq_pot30.png'); }
.eq_rad01 { background-image: url('../img/eq_rad01.png'); }
.eq_rad02 { background-image: url('../img/eq_rad02.png'); }
.eq_rad03 { background-image: url('../img/eq_rad03.png'); }
.eq_rad04 { background-image: url('../img/eq_rad04.png'); }
.eq_rad05 { background-image: url('../img/eq_rad05.png'); }
.eq_rad06 { background-image: url('../img/eq_rad06.png'); }
.eq_rad07 { background-image: url('../img/eq_rad07.png'); }
.eq_rad08 { background-image: url('../img/eq_rad08.png'); }
.eq_rad09 { background-image: url('../img/eq_rad09.png'); }
.eq_rad10 { background-image: url('../img/eq_rad10.png'); }
.eq_rad11 { background-image: url('../img/eq_rad11.png'); }
.eq_rad12 { background-image: url('../img/eq_rad12.png'); }
.eq_rad13 { background-image: url('../img/eq_rad13.png'); }
.eq_rad14 { background-image: url('../img/eq_rad14.png'); }
.eq_rad15 { background-image: url('../img/eq_rad15.png'); }
.eq_rad16 { background-image: url('../img/eq_rad16.png'); }
.eq_rad17 { background-image: url('../img/eq_rad17.png'); }
.eq_rad18 { background-image: url('../img/eq_rad18.png'); }
.eq_rad19 { background-image: url('../img/eq_rad19.png'); }
.eq_rad20 { background-image: url('../img/eq_rad20.png'); }
.eq_rad21 { background-image: url('../img/eq_rad21.png'); }
.eq_rad22 { background-image: url('../img/eq_rad22.png'); }
.eq_rad23 { background-image: url('../img/eq_rad23.png'); }
.eq_rad24 { background-image: url('../img/eq_rad24.png'); }
.eq_rad25 { background-image: url('../img/eq_rad25.png'); }
.eq_rad26 { background-image: url('../img/eq_rad26.png'); }
.eq_rad27 { background-image: url('../img/eq_rad27.png'); }
.eq_rad28 { background-image: url('../img/eq_rad28.png'); }
.eq_rad29 { background-image: url('../img/eq_rad29.png'); }
.eq_rad30 { background-image: url('../img/eq_rad30.png'); }
