/* ##### CSS Principal ##### */
#gameStage {
    width: 1024px;
    height: 768px;
    font-family: Arial;
    z-index: 0;
}

#gameScene0 {
    width: 1024px;
    height: 768px;
    background-image: url(../img/0_background.png);
    z-index: 1;
}

#gameScene0.noAnswer {
    background-color: #ffffff;
}

#gameScene0.correctAnswer {
    background-color: #00ff00;
}

#gameScene0.incorrectAnswer {
    background-color: #ff0000;
}

#gameScene0 > .number {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 65px;
    background: transparent;
    display: table;
}

#gameScene0 > .number > .text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-size: 30pt;
}

#gameScene0 > .bullets {
    width: 276px;
    height: 46px;
    background: transparent;
    position: absolute;
    left: 28px;
    top: 79px;
}

#gameScene0 > .bullets > .bullet {
    width: 23px;
    height: 23px;
    background-color: transparent;
    background-repeat: no-repeat;
    float: left;
}

#gameScene0 > .bullets > .normal {
    background-image: url(../img/0_questions_normal.png);
}

#gameScene0 > .bullets > .active {
    background-image: url(../img/0_questions_active.png);
}

#gameScene0 > .bullets > .incorrect {
    background-image: url(../img/0_questions_incorrect.png);
}

#gameScene0 > .bullets > .correct {
    background-image: url(../img/0_questions_correct.png);
}

#gameScene0 > .bullets > .bullet0 {
    background-position: 0px 0px;
}

#gameScene0 > .bullets > .bullet1 {
    background-position: -23px 0px;
}

#gameScene0 > .bullets > .bullet2 {
    background-position: -46px 0px;
}

#gameScene0 > .bullets > .bullet3 {
    background-position: -67px 0px;
}

#gameScene0 > .bullets > .bullet4 {
    background-position: -90px 0px;
}

#gameScene0 > .bullets > .bullet5 {
    background-position: -112px 0px;
}

#gameScene0 > .bullets > .bullet6 {
    background-position: -135px 0px;
}

#gameScene0 > .bullets > .bullet7 {
    background-position: -157px 0px;
}

#gameScene0 > .bullets > .bullet8 {
    background-position: -180px 0px;
}

#gameScene0 > .bullets > .bullet9 {
    background-position: -203px 0px;
}

#gameScene0 > .bullets > .bullet10 {
    background-position: -225px 0px;
}

#gameScene0 > .bullets > .bullet11 {
    background-position: -247px 0px;
}

#gameScene0 > .bullets > .bullet12 {
    background-position: 0px -23px;
}

#gameScene0 > .bullets > .bullet13 {
    background-position: -23px -23px;
}

#gameScene0 > .bullets > .bullet14 {
    background-position: -46px -23px;
}

#gameScene0 > .bullets > .bullet15 {
    background-position: -67px -23px;
}

#gameScene0 > .bullets > .bullet16 {
    background-position: -90px -23px;
}

#gameScene0 > .bullets > .bullet17 {
    background-position: -112px -23px;
}

#gameScene0 > .bullets > .bullet18 {
    background-position: -135px -23px;
}

#gameScene0 > .bullets > .bullet19 {
    background-position: -157px -23px;
}

#gameScene0 > .bullets > .bullet20 {
    background-position: -180px -23px;
}

#gameScene0 > .bullets > .bullet21 {
    background-position: -203px -23px;
}

#gameScene0 > .bullets > .bullet22 {
    background-position: -225px -23px;
}

#gameScene0 > .bullets > .bullet23 {
    background-position: -247px -23px;
}

#gameScene0 > .next {
    width: 120px;
    height: 54px;
    position: absolute;
    left: 115px;
    top: 141px;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/0_button_next.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

#gameScene0 > .info {
    width: 335px;
    height: 260px;
    position: absolute;
    left: 17px;
    top: 200px;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    line-height: 18px;
}

#gameScene0 > .question {
    width: 335px;
    height: 260px;
    position: absolute;
    left: 5px;
    top: 500px;
    background-color: transparent;
    font-size: 14pt;
    line-height: 23px;
}

#gameScene0 > .image {
    width: 596px;
    height: 450px;
    position: absolute;
    left: 399px;
    top: 29px;
    background-color: #385154;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: crosshair;
}

#gameScene0 > .source {
    width: 571px;
    height: 29px;
    position: absolute;
    left: 411px;
    top: 482px;
    background-color: transparent;
    display: table;
}

#gameScene0 > .source > .text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
    font-size: 9pt;
    padding-left: 10px;
}

#gameScene0 > .answer {
    width: 667px;
    height: 50px;
    position: absolute;
    left: 351px;
    background-image: url(../img/0_background_answer.png);
    display: table;
    cursor: pointer;
}

#gameScene0 > .answer > .text {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    padding-right: 50px;
}

#gameScene0 > .answer0 {
    top: 516px;
}

#gameScene0 > .answer1 {
    top: 571px;
}

#gameScene0 > .answer2 {
    top: 626px;
}

#gameScene0 > .answer3 {
    top: 682px;
}

#gameScene0 > .start {
    width: 1024px;
    height: 768px;
    background-image: url(../img/0_start.png);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 2;
}

#gameScene0 > .start > .button {
    width: 254px;
    height: 75px;
    background-color: transparent;
    position: absolute;
    left: 394px;
    top: 599px;
    cursor: pointer;
}

#gameScene0 > .result {
    width: 1024px;
    height: 768px;
    background-color: rgba(0, 0, 0, 0.45);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 2;
}

#gameScene0 > .bad {
    background-image: url(../img/0_result_bad.png);
}

#gameScene0 > .bad > .button {
    width: 254px;
    height: 76px;
    background-color: transparent;
    position: absolute;
    left: 379px;
    top: 627px;
    cursor: pointer;
}

#gameScene0 > .medium {
    background-image: url(../img/0_result_medium.png);
}

#gameScene0 > .medium > .button {
    width: 254px;
    height: 76px;
    background-color: transparent;
    position: absolute;
    left: 390px;
    top: 630px;
    cursor: pointer;
}

#gameScene0 > .good {
    background-image: url(../img/0_result_good.png);
}

#gameScene0 > .good > .button {
    width: 254px;
    height: 76px;
    background-color: transparent;
    position: absolute;
    left: 390px;
    top: 630px;
    cursor: pointer;
}
